.w-full
  = link_to "<- Tournaments list", tournaments_path, class: "mb-8 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

  .text-2xl.text-center Rankings
  .text-sm.text-center Based on last 10 innings of each player
  .mt-8

    .mb-6
      = render "rankings/links", active: "solo_test"

    .relative.overflow-x-auto
      %table.w-full.text-xs.text-left.rtl:text-right.text-gray-500
        %thead.text-xs.text-gray-700.uppercase.bg-gray-50
          %tr
            %th.px-6.py-3.sticky.left-0.bg-gray-50{scope: "col"}
              Player
            %th.px-6.py-3{scope: "col"}
              Point
            %th.px-6.py-3{scope: "col"}
              Recent Form
          
        %tbody
          - @sorted_result.each_with_index do |stat, index|
            - if stat[1][:last_10_values].present?
              %tr.border-b{class: index == 0 ? "bg-green-100" : ""}
                %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.sticky.left-0{scope: "row", class: index == 0 ? "bg-green-100" : "bg-white"}
                  .flex.justify-center  
                    = image_tag stat[1][:photo], class: "vsPlayerPhoto"
                  .text-xs.text-center{class: index == 0 ? "text-2xl" : ""}= stat[1][:name]
                %td.px-6.py-4
                  .text-xs{class: index == 0 ? "text-2xl" : ""}= stat[1][:sum]
                %td.px-6.py-4
                  .text-xs{class: index == 0 ? "text-2xl" : ""}= stat[1][:last_10_values].to_sentence
              