.w-full
  - if user_signed_in?
    .p-2 
      = link_to "Create Tournament", new_tournament_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2focus:outline-none"
    .p-2 
      = link_to "Add Player", players_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2focus:outline-none"
     
  .p-2 
    = link_to "Rankings", rankings_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2focus:outline-none"
  
  - if @tours.present?
    - @tours.each do |tour|
      .my-3
        = link_to tournament_path(tour), class: "block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100" do
          %h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900= tour.name
          - final = tour.matches.find_by(match_type: 4)
          - if final.present? && final.winner_team.present?
            %p.font-normal.text-gray-700.text-green-600= "WINNER : #{final.winner_team.captain.name}"
          - else
            %p.font-normal.text-gray-700= "Win point : #{tour.win_point}"