= link_to "<- Matches list", tournament_path(@tour["id"]), class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

- if @players_data.present?
  - if @tour["tour_type"] == "solo_test"
    %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.shadow-lg.border
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50
        %tr
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Player
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Run
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Innings
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Average
        
      %tbody
        - @players_data.each_with_index do |data, index|
          %tr.border-b{class: index < 3 ? "bg-green-100" : "bg-gray-100"}
            %td.px-6.py-4.flex.justify-center
              = image_tag @players.find{|p| p["id"].to_s == data[0].to_s}["photo_name"], class: "vsPlayerPhoto"
            %td.px-6.py-4
              .text-center= data[1][:sum]
            %td.px-6.py-4
              .text-center= data[1][:count]
            %td.px-6.py-4
              .text-center= data[1][:average]

  - else
    %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.shadow-lg.border
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50
        %tr
          -# %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
          -#   Rank
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Player
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Point
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Win
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Played
          %th.px-6.py-3.text-center.whitespace-nowrap{scope: "col"}
            Win %
        
      %tbody
        - @players_data.each_with_index do |player, index|
          %tr.border-b{class: index < 3 ? "bg-green-100" : "bg-gray-100"}
            -# %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap{scope: "row"}
            -#   .text-center= index + 1
            %td.px-6.py-4.flex.justify-center
              =image_tag player[0], class: "vsPlayerPhoto"
            %td.px-6.py-4
              .text-center= player[1]
            %td.px-6.py-4
              .text-center= player[2]
            %td.px-6.py-4
              .text-center= player[3]
            %td.px-6.py-4
              .text-center= player[4]