= link_to "<- Matches list", tournament_path(@tour["id"]), class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

- if @players_data.present?
  .relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50
      %tr
        %th.px-6.py-3{scope: "col"}
          Rank
        %th.px-6.py-3{scope: "col"}
          Name
        %th.px-6.py-3{scope: "col"}
          Point
        %th.px-6.py-3{scope: "col"}
          Win %
        %th.px-6.py-3{scope: "col"}
          Complete
        %th.px-6.py-3{scope: "col"}
          Pending
       
    %tbody
      - @players_data.each_with_index do |player, index|
        %tr.border-b{class: index < 3 ? "bg-green-100" : "bg-orange-100"}
          %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap{scope: "row"}
            = index + 1
          %td.px-6.py-4
            = player[0]
          %td.px-6.py-4
            = player[3]
          %td.px-6.py-4
            = player[4]
          %td.px-6.py-4
            = player[1]
          %td.px-6.py-4
            = player[2]
       
      