= link_to "<- Matches list", tournament_path(@tour["id"]), class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

.text-md.font-bold.my-2.text-center Next Matches Suggestion
.gap-2.mb-4
  - before = []

  - grouped = @next_matches.group_by { |m| m[:score] }

  - grouped.each do |g|
    .p-4.mb-4
      - g[1].each do |m|
        .bg-slate-100.p-4.rounded-lg.col-span-12.text-black.mb-2
          .text-xs.flex.items-center.justify-between
            .flex.items-center.gap-1.justify-center
              = image_tag m[:match][0], class: "playerTourPhoto border-2"
              = image_tag m[:match][1], class: "playerTourPhoto border-2"
            %div
              .text-xs.text-right
                Total: 
                %b= "#{m[:overall_previous_matches]} times"
              .text-xs.text-right
                This tournament: 
                %b= "#{m[:tournament_previous_matches]} times"
