= link_to "<- Matches list", tournament_path(@tour["id"]), class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

.text-md.font-bold.my-2.text-center Next Matches Suggestion
.grid.grid-cols-12.gap-2.mb-4
  - before = []
  - @next_matches.each_with_index do |match, index|
    - current = [match[1], match[2]]
    - if before != current
      .py-1.flex.col-span-12.justify-center 
        .text-xs.text-center -

    - before = current
    .bg-slate-100.p-4.rounded-lg.col-span-12
      .text-xs.flex.items-center.justify-between
        .flex.items-center.gap-1.justify-center
          = image_tag match[0][0], class: "playerTourPhoto border-2"
          = image_tag match[0][1], class: "playerTourPhoto border-2"
        %div
          .text-xs.text-right
            Total: 
            %b= "#{match[1]} times"
          .text-xs.text-right
            This tournament: 
            %b= "#{match[2]} times"

