= link_to "<-", tournaments_path, class: "px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
.w-full.px-6.mb-20
  .text-lg.text-center.pt Toughest Rivalry
  .text-xs.text-center.pb-6.mt-2 Minimum 10 match
  - if @rivalries.present?
    - @rivalries.each do |key, value|
      - if key.to_i <= 5
        .my-1.p-4.w-full
          - a = @players.find{|p| p["id"] == value["player_a"][:id]}
          - b = @players.find{|p| p["id"] == value["player_b"][:id]}
          
          - if(value["player_b"][:win] > value["player_a"][:win])
            .flex.items-center.justify-between.gap-1.rounded-full.p-2.shadow-lg.bg-blue-100
              = image_tag b["photo_name"], class: "rivalryPhoto"
              .text-sm.text-center.font-bold= "#{value["player_b"][:win]}  -  #{value["player_a"][:win]}"
              = image_tag a["photo_name"], class: "rivalryPhoto"
          
          - else 
            .flex.items-center.justify-between.gap-1.rounded-full.p-2.shadow-lg.bg-blue-100
              = image_tag a["photo_name"], class: "rivalryPhoto"
              .text-sm.text-center.font-bold= "#{value["player_a"][:win]}  -  #{value["player_b"][:win]}"
              = image_tag b["photo_name"], class: "rivalryPhoto"
          