.w-full
  .mb-4   
    = link_to "<- Tournaments list", root_path, class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
  = link_to "Leaderboard", leaderboard_tournament_path(@tour), class: "focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 "
  - if user_signed_in?
    = link_to "Edit", edit_tournament_path(@tour), class: "focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 "

  - if @matches.present?
    - @matches.each do |match|
      .my-3
        = link_to match_path(match), data: {turbo_frame: "_top"}, class: "block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100" do
          .text-xs= match.match_type.try(:humanize)
          %h5.mb-2.tracking-tight.text-gray-900
            %span{class: match.winner_team_id.present? ? match.winner_team_id == match.teams.first.id ? "font-bold text-green-500 text-3xl" : "text-light text-red-500 text-sm" : "font-bold"}= match.teams.first.captain.name
            %span vs
            %span{class: match.winner_team_id.present? ? match.winner_team_id == match.teams.last.id ? "font-bold text-green-500 text-3xl" : "text-light text-red-500 text-sm" : "font-bold"}= match.teams.last.captain.name
          
          - pm = match.player_of_the_match
          - if pm.present?
            .my-1
              %span.text-xs Player of the match
              %span.text-md.font-bold= match.player_of_the_match
