- all_run_stats = []
- players.each do |pl|
  - arr = getPlayerRunData(pl, @performances, @matches, tour_type, @tours)
  - arr << pl["name"]
  - arr << pl["id"]
  - all_run_stats << arr

- all_run_stats = all_run_stats.sort { |a, b| b[0] <=> a[0] }

.relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50
      %tr
        %th.px-6.py-3.whitespace-nowrap.bg-slate-100.text-black.sticky.left-0{scope: "col"}
          Name
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Runs
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Innings
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Average
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Run/innings
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Matches
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Highest
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          Not Out
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          0
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          1-30
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          31-49
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          50-99
        %th.px-6.py-3.whitespace-nowrap{scope: "col"}
          100+

      
    %tbody
      - all_run_stats.each do |pl|
        %tr.border-b
          %th.px-6.py-3.bg-slate-100.text-black.sticky.left-0{scope: "row"}
            = link_to pl[12], player_path(pl[13]), class: "whitespace-nowrap text-center"
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[0]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[1]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[2]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[3]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[4]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[5]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[6]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[7]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[8]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[9]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[10]
          %td.px-6.py-3
            %h5.whitespace-nowrap.text-center= pl[11]
          
