- all_point_stats = []
- @players.each do |pl|
  - arr = getPlayerPointData(pl["id"], @points)
  - arr << pl["name"]
  - arr << pl["id"]
  - all_point_stats << arr if arr[1].present? && arr[1] > 0

- all_point_stats = all_point_stats.sort { |a, b| b[2] <=> a[2] }

.mt-6 
  .relative.overflow-x-auto
    %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50
        %tr
          %th.px-6.py-3.whitespace-nowrap.bg-slate-100.text-black.sticky.left-0{scope: "col"}
            Name
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            Points
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            Innings
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            Average
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            Highest
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            0 or less
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            1-30
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            31-49
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            50-99
          %th.px-6.py-3.whitespace-nowrap.text-center{scope: "col"}
            100+

        
      %tbody
        - all_point_stats.each do |pl|
          - if pl[1].present? && pl[1] > 0
            %tr.border-b
              %th.px-6.py-3.bg-slate-100.text-black.sticky.left-0{scope: "row"}
                = link_to pl[9], player_path(pl[10]), class: "whitespace-nowrap text-center text-blue-800 underline"
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[0]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[1]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[2]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[3]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[4]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[5]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[6]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[7]
              %td.px-6.py-3
                %h5.whitespace-nowrap.text-center= pl[8]
              