= link_to "<-", players_path, class: "px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"

.flex.w-full.justify-center
  = image_tag @player["photo_name"], class: "playerPhoto"
.text-lg.text-center= @player["name"]

.my-4
  .mt-2.bg-slate-100.p-4.rounded
    .text-sm.text-center.mb-1= "Runs (#{@total_run})"
    .text-sm.text-center.mb-2=  "Average (#{@total_run / @run_counts.values.sum})"
    - height = (@run_counts.keys.count * 15) + 50
    = bar_chart @run_counts.sort.to_h, library: { scales: { y: { ticks: { autoSkip: false }}}}, xtitle: "No of time scored", height: "#{height}px"



  .mt-6.bg-slate-100.p-4.rounded
    .text-sm.text-center.mb-2=  "Wickets (#{@total_wicket})"
    - height = (@wicket_counts.keys.count * 15) + 100
    = bar_chart @wicket_counts.sort.to_h,  library: { scales: { y: { ticks: { autoSkip: false }}}}, xtitle: "No of time taken", height: "#{height}px"

  .mt-6.bg-slate-100.p-4.rounded
    .text-sm.text-center.mb-1=  "Points (#{@total_points})"
    .text-sm.text-center.mb-2=  "Average (#{@total_points / @player_points.values.sum})"
    - height = (@player_points.keys.count * 15) + 50
    = bar_chart @player_points.sort.to_h,  library: { scales: { y: { ticks: { autoSkip: false }}}}, xtitle: "No of time scored", height: "#{height}px"