.flex.items-center.justify-between.w-full
	= link_to '<- Back', room_path(@room.id), class: "text-sm text-blue-600 hover:underline mb-4 inline-block border p-4 rounded-xl"

- if @users.present?
	- @users.each do |user|
		.bg-white.shadow-md.rounded-xl.p-6.mb-4
			%h3.text-lg.font-semibold.text-gray-800.mb-2= user.name

			- if @players.present?
				- user_players = @players.where(user_id: user.id)
				
				.text-xs.text-gray-800= "Available Money : ₹#{1750 - user_players.sum(&:buy_price)}"
				.text-xs.text-gray-800= "Total Spent : ₹#{user_players.sum(&:buy_price)}"
				.text-xs.text-gray-800.mb-2= "Total Players : #{user_players.count}"

				- if user_players.any?
					%ul.list-disc.list-inside
						- user_players.each do |player|
							- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
							%li.text-gray-700= "#{plr["name"]} (₹#{plr["price"]})"
				