= render 'links', page: "other"

- if @users.present?
	- @users.shuffle.each do |user|
		.bg-white.shadow-md.rounded-xl.p-6.mb-4
			%h3.text-lg.font-semibold.text-gray-800.mb-2= user.name


			- if @players.present?
				- user_players = @players.where(user_id: user.id)
				
				-# .text-xs.text-gray-800= "Available Money : ₹#{1550 - user_players.sum(&:buy_price)}"
				-# .text-xs.text-gray-800= "Total Spent : ₹#{user_players.sum(&:buy_price)}"
				.text-xs.text-gray-800.mb-2= "Total Players : #{user_players.count}"

				- [["Unassigned", nil], ["ODI", "odi"], ["T20", "t20"]].each do |label, team|
					- team_players = user_players.select {|up| up.team_type == team}
					
					- points = 0
					- if team_players.present?
						- team_players.each do |player|
							- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
							- if plr
								- points += plr["odi_point"].to_i if team == "odi"
								- points += plr["t20_point"].to_i if team == "t20"


					- if team_players.any?
						- if points == 0
							%h4.text-md.font-medium.text-gray-700.mt-4.mb-2.mt-2= "#{label}: #{points}"
						- else
							%h4.text-md.font-medium.text-gray-700.mt-4.mb-2.mt-2= "#{label}: #{(points / 50) * 50}+"
						%ol.list-decimal.list-inside
							- team_players.each_with_index do |player, index|
								- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
								%li.flex.items-center.gap-2.justify-between
									.flex.items-center.gap-2
										.text-sm.text-black= "#{index + 1}."
										.text-gray-700= "#{plr["name"]}"
										- if flag_url = country_flag(plr["country_code"])
											%img.inline-block.w-5.h-4.mr-1{ src: flag_url, alt: plr["country_code"] }

									.flex.items-center.gap-2
										.text-xs.text-blue-700.rounded-md.px-2.italic.border.border-gray-500= "₹#{plr["price"]}"
										.text-xs.bg-purple-700.rounded-md.px-2= "#{plr["odi_point"]}"
										.text-xs.bg-green-700.rounded-md.px-2= "#{plr["t20_point"]}"
				
				-# .text-xs.text-gray-800= "Available Money : ₹#{1550 - user_players.sum(&:buy_price)}"
				-# .text-xs.text-gray-800= "Total Spent : ₹#{user_players.sum(&:buy_price)}"
				-# .text-xs.text-gray-800.mb-2= "Total Players : #{user_players.count}"

				-# - if user_players.any?
				-# 	%ul.list-disc.list-inside
				-# 		- user_players.each do |player|
				-# 			- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
				-# 			%li.text-gray-700= "#{plr["name"]} (₹#{plr["price"]})"
				