= @room.code

.text-md.mt-10 My Players
.grid.grid-cols-12.gap-2
  - @my_picked_players.each do |player|
    .col-span-3
      .bg-neutral-primary-soft.block.max-w-sm.p-6.border.border-default.rounded-base.shadow-xs.hover:bg-neutral-secondary-medium
        - plr = @auction_players.find {|ap| ap["id"] == player.player_id}
        .text-xs.mb-2= plr["name"]
        .text-xs.mb-2= "ODI    #{plr["odi_point"]}"
        .text-xs.mb-2= "T20    #{plr["t20_point"]}"
        .text-xs.mb-2= "Country    #{plr["country_code"]}"
        .text-xs.mb-2= "#{plr["playertype"]}"


.text-md.mt-10 Available Players
.grid.grid-cols-12.gap-2
  - @available_to_pick_players.each do |player|
    .col-span-3
      .bg-neutral-primary-soft.block.max-w-sm.p-6.border.border-default.rounded-base.shadow-xs.hover:bg-neutral-secondary-medium
        - plr = @auction_players.find {|ap| ap["id"] == player.player_id}
        .text-xs.mb-2= plr["name"]
        .text-xs.mb-2= "ODI    #{plr["odi_point"]}"
        .text-xs.mb-2= "T20    #{plr["t20_point"]}"
        .text-xs.mb-2= "Country    #{plr["country_code"]}"
        .text-xs.mb-2= "#{plr["playertype"]}"

        = form_with url: pick_rooms_path, method: :post do |f|
          = f.hidden_field :picked_player_id, value: player["id"]
          = f.submit "Pick", class: "inline-block px-4 py-2 text-xs border mt-3 font-medium text-center text-white bg-primary-base rounded-lg hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-light"