/ ================================
/ HEADER SECTION
/ ================================
.flex.items-center.justify-between.w-full
	= link_to 'Back to Auctions', auctions_path, class: "text-sm text-blue-600 hover:underline mb-4 inline-block border p-4 rounded-xl"
	= link_to "Check Others", players_room_path(@room.id), method: :delete, class: "text-sm bg-blue-600 hover:bg-red-700 text-white font-semibold p-4 rounded-lg shadow-md transition"


.container.mx-auto.px-4.py-6
	.bg-white.shadow-lg.rounded-xl.p-6.mb-8
		.flex.flex-col.md:flex-row.md:items-center.md:justify-between
			.mb-4.md:mb-0
				.text-2xl.font-bold.text-gray-900 Hi #{session[:user]["name"]}
				.text-sm.text-gray-500.mt-1 Welcome to your dashboard

				.text-sm.text-gray-500.mt-1
					- time_left = @room.end_date - Time.current
					- if time_left > 0
						- days = (time_left / 86400).to_i
						- hours = ((time_left % 86400) / 3600).to_i
						- minutes = ((time_left % 3600) / 60).to_i
						Time Left: #{days}d #{hours}h #{minutes}m
					- else
						Time Left: Expired


			.grid.grid-cols-2.md:grid-cols-4.gap-4.mt-4.md:mt-0
				.p-3.bg-gray-50.rounded-lg.shadow-sm.text-center
					.text-xs.text-gray-500 Room Code
					.text-lg.font-semibold.text-gray-900= @room.code

				.p-3.bg-gray-50.rounded-lg.shadow-sm.text-center
					.text-xs.text-gray-500 Spent Money 
					.text-lg.font-semibold.text-gray-900= @total_spent_price

				.p-3.bg-gray-50.rounded-lg.shadow-sm.text-center
					.text-xs.text-gray-500 Available Money
					.text-lg.font-semibold.text-gray-900= @total_available_price

				.p-3.bg-gray-50.rounded-lg.shadow-sm.text-center
					.text-xs.text-gray-500 Players Taken
					.text-lg.font-semibold.text-gray-900= @my_picked_players.count


/ ================================
/ MY PLAYERS SECTION
/ ================================
.container.mx-auto.px-4.py-6
	.mb-4
		%h2.text-xl.font-bold.text-gray-300 My Players (#{@my_picked_players.count})
		.text-sm.text-gray-500 You can release a player only after 4 hours of picking them.

	.grid.grid-cols-2.sm:grid-cols-3.md:grid-cols-4.lg:grid-cols-6.gap-4
		- @my_picked_players.each do |player|
			- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
			.border.border-gray-200.bg-white.rounded-xl.shadow-sm.hover:shadow-md.transition.p-4.flex.flex-col
				.font-semibold.text-gray-900.text-sm= plr["name"]
				.text-xs.text-gray-600.font-medium.text-gray-800.mb-2= plr["playertype"]

				.flex.w-full.justify-between.items-center.mt-1
					.text-xs.text-gray-600
						.text-xs.text-center.font-bold.text-black= plr["odi_point"]
						.text-xs.text-center ODI

					.text-xs.text-gray-600
						.text-xs.text-center.font-bold.text-black= plr["t20_point"]
						.text-xs.text-center T20

					.text-xs.text-gray-600
						.text-xs.text-center.font-bold.text-black= plr["country_code"]
						.text-xs.text-center Country

				%div 
					.text-xs.text-center.font-medium.text-gray-700.mt-2 Picked at: #{player.updated_at.strftime("%A %I:%M %P")}
					.text-xs.text-center.font-medium.text-gray-700.mt-2 Price: ₹#{plr["price"]}
				
				- if @can_take_action && (player.updated_at + 4.hours) < Time.current
					- if @can_take_action
						= form_with url: release_rooms_path, method: :post, class: "mt-4" do |f|
							= f.hidden_field :picked_player_id, value: player["id"]
							= f.submit "Release (₹#{plr["price"]})", class: "w-full text-xs bg-red-500 hover:bg-red-600 text-white font-medium py-1.5 rounded-lg transition"


/ ================================
/ AVAILABLE PLAYERS SECTION
/ ================================
.container.mx-auto.px-4.py-6.mt-8
	.flex.items-center.justify-between.mb-4
		%h2.text-xl.font-bold.text-gray-300 Available Players (#{@available_to_pick_players.count})

	.grid.grid-cols-2.sm:grid-cols-3.md:grid-cols-4.lg:grid-cols-6.gap-4
		- @available_to_pick_players.each do |time, players|
			-# %h3.text-md.font-semibold.text-gray-400.col-span-full.mt-4.mb-2 Released at: #{time.strftime("%A %I:%M %P")}
			- players.each do |player|
				- plr = @auction_players.find {|ap| ap["id"] == player.player_id}
				.border.border-gray-200.bg-white.rounded-xl.shadow-sm.hover:shadow-md.transition.p-4.flex.flex-col
					.font-semibold.text-gray-900.text-sm= plr["name"]
					.text-xs.text-gray-600.font-medium.text-gray-800.mb-2= plr["playertype"]

					.flex.w-full.justify-between.items-center.mt-1
						.text-xs.text-gray-600
							.text-xs.text-center.font-bold.text-black= plr["odi_point"]
							.text-xs.text-center ODI

						.text-xs.text-gray-600
							.text-xs.text-center.font-bold.text-black= plr["t20_point"]
							.text-xs.text-center T20

						.text-xs.text-gray-600
							.text-xs.text-center.font-bold.text-black= plr["country_code"]
							.text-xs.text-center Country
					

					- if @can_take_action && (player.release_time < Time.current)
						- if @my_picked_players.count >= 25
							%button.mt-4.w-full.text-xs.bg-gray-400.text-white.font-medium.py-1.5.rounded-lg.transition.cursor-not-allowed Max players picked
						- elsif @total_available_price < plr["price"]
							%button.mt-4.w-full.text-xs.bg-gray-400.text-white.font-medium.py-1.5.rounded-lg.transition.cursor-not-allowed Not available fund
						- else
							= form_with url: pick_rooms_path, method: :post, class: "mt-4" do |f|
								= f.hidden_field :picked_player_id, value: player["id"]
								= f.submit "Pick (₹#{plr["price"]})", class: "w-full text-xs bg-green-500 hover:bg-green-600 text-white font-medium py-1.5 rounded-lg transition"
