- @players.each do |player|
  .py-4.px-2.bg-slate-200.my-4.rounded-xl
    .text-xl.mb-2= player["name"]
    - perfs = @performances.filter{|p| ((p["match_id"].to_s == match["id"].to_s) && (p["player_id"].to_s == player["id"].to_s))  }

    - if perfs.present?
      - perfs.each do |perf|
        .my-4.grid.grid-cols-12.gap-6
          .flex.col-span-4
            .text-md= "Run - #{perf["runs"]}"
            - if perf["is_not_out"]
              .text-md *
          .col-span-6
            .text-md= "Wickets - #{perf["wickets"]}"