.flex.w-full.justify-between.items-center.mb-6
	= link_to "<-", tournaments_path, class: "px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
	.text-lg.font-bold.text-center Head To Head
	.text-sm= ""

- @head_to_head.each do |player, value|
	.p-4.mt-4
		.grid.grid-cols-12.gap-2 
			.col-span-3 
				.flex.justify-center
					= image_tag getPlayerPhoto(player, @players), class: "playerPhoto"
				.text-sm.font-bold.text-center= "#{getPlayerName(player, @players)}"
			.col-span-9
				- value.each do |p, k|
					- cls = getH2HClass(k[:wins], k[:losses])
					.pl-6.py-1
						.rounded-lg.p-3{class: cls}
							.flex.justify-center.gap-6.items-center.px-2
								.text-xl.font-bold="#{ k[:wins]} - #{k[:losses]}"
								= image_tag getPlayerPhoto(p, @players), class: "vsPlayerPhoto"
						 
